<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <h2>Dashboard</h2>
        <h5>Hurray! You are logged in.</h5>
        <p>Future features: update profile, delete profile, add a photo, show adopted pets.</p>
        <p>Update to nav bar when user logs in (change to "Logout", remove "Sign Up" button).</p>
        <p>Update adopted page to show which user adopted the pet</p>
        <p>Add different pets (not just dogs)</p>
        <p>Allow certain users to add pets up for adoption</p>
    </body>
</html>
