<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <h2>Dashboard</h2>
        <h5>Hurray! You are logged in.</h5>
        Future features: update profile, delete profile
    </body>
</html>