<header>
    <header class="showcase">
        <div class="content">
            <div>
                <h1 class="title">PetsPurration</h1>
            </div>
            <img src="images/pawLogo.png" class="logo w3-animate-fading" alt=" logo">
            <div class="text">
                <p> Puurrrfectly phenomenal way to find your new companion </p>
            </div>
            {{!-- form --}}
            <div class="w3-card-4">

                <div class="w3-container w3-indigo">
                    <h2>Sign In</h2>
                </div>

                <form id="signin" name="signin" method="post" action="signin" class="w3-container">

                    <label for="email">
                        {{!-- <h4>Email</h4> --}}
                    </label>
                    <input class="text w3-input w3-light-grey w3-margin w3-center" style="text-shadow:1px 1px 0"
                        name="email" type="text" placeholder="Email">

                    <label for="password">
                        {{!-- <h4>Password</h4> --}}
                    </label>
                    <input class="w3-input w3-light-grey w3-margin w3-center" style="text-shadow:1px 1px 0"
                        name="password" type="password" placeholder="Create password">

                    <input class="btn w3-btn w3-blue w3-margin" type="submit" value="Sign In">

                </form>

            </div>
        </div>

        {{!-- <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form> --}}
    </header>