
<header>
    <header class="showcase">
        <div class="content">
            <div>
                <h1 class="title">PetsPurration</h1>
            </div>
            <img src="images/pawLogo.png" class="logo w3-animate-fading" alt=" logo">
            <div class="text">
                <p> Puurrrfectly phenomenal way to find your new companion </p>
            </div>
            {{!-- form --}}
            <div class="w3-card-4">
                <div class="w3-container w3-blue">
                    <h2>Sign Up</h2>
                </div>
                <form class="w3-container"  id="signup" name="signup" method="post" action="/signup">
{{!-- email --}}
                    <label for="email">
                        <h4>Email</h4>
                    </label>
                    <input class="w3-input" class="text" name="email" type="email" type="text">
{{!-- first name--}}

<label for="firstname">
     <h4>First Name</h4>
</label>
<input class="w3-input" name="firstname" type="text">

{{!-- last name --}}

<label for="lastname">
     <h4>Last Name</h4>
</label>
<input class="w3-input" name="lastname" type="text">

{{!-- phone number --}}

<label for="phonenumber">
     <h4>Phone Number</h4>
</label>
<input class="w3-input" name="phonenumber" type="text">

{{!-- City --}}
<label for="location">
     <h4>Phone Number</h4>
</label>
<input class="w3-input" name="location" type="text">

{{!-- Type of houseing --}}
<label for="housing">
     <h4>Type of Housing</h4>
</label>
<input class="w3-input" name="housing" type="text">


{{!-- Username --}}
<label for="username">
     <h4>Create Username</h4>
</label>
<input class="w3-input" name="username" type="text">



{{!-- password --}}
            <label>
                        <h4>Create Password</h4>
                    </label>
                    <input class="w3-input" type="text">

                    <button class="w3-btn w3-blue w3-margin" type="submit" value="Sign Up">Submit</button>

                </form>

            </div>
        </div>










    {{!-- <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label> --}}
        {{!-- <input class="text" name="email" type="email" /> --}}
        {{!-- <label for="firstname">First Name</label>
        <input name="firstname" type="text" /> --}}
{{!-- 
        <label for="lastname">Last Name</label>
        <input name="lastname" type="text" /> --}}


        {{!-- <label for="username">Username</label>
        <input name="username" type="text" /> --}}


        {{!-- <label for="phonenumber">Phone Number</label>
        <input name="phonenumber" type="text"> --}}
{{!-- 
        <label for="location">City</label>
        <input name="location" type="text"> --}}

        {{!-- <label for="housing">Type of Housing</label>
        <input name="housing" type="text"> --}}

        {{!-- <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form> --}}
 
